* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    border-width: 2px;
    border-style: solid;
    border-color: red;
}

body {
    background-image: url('https://codetheweb.blog/assets/img/posts/css-advanced-background-images/mountains.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 1rem;
    padding: 16px;
    font-family: 'Crimson Text', serif;
    font-weight: bolder;
    width: 80%;
    text-align: justify;

}


header {
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(10px);
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);




}

header nav .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li a {
    color: #101010;
    margin-right: 20px;
    font-size: 1em;
    text-decoration: none;
}

header nav {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    justify-content: space-between;

}

h1 {

    font-size: 3rem;

}

h2 {

    display: inline-block;
    text-align: center;
    font-size: 3rem;


}

ul {
    list-style: none;
}

li {
    display: block;
    color: rgb(0 0 0);
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

.mainPage {
    display: grid;
    
    gap: 20px 20px;
   grid-column: 33% 33% 33%;
   grid-row: 50% 50%;

}

.noticias-portada-texto {

    box-sizing: content-box;
    
}

.noticias-portada {
    width: 300px;
    height: 250px;
    box-sizing: border-box;
    box-shadow: 2px 10px 10px 2px black;
    border-radius: 10px;
    border: solid black;
}

.bienvenida {
    display: flex;
    padding: 10px;
    font-size: 1.5rem;
    font-family: 'Crimson Text', serif;
    font-weight: bolder;
    width: 90%;
    text-align: center;
    background-color: #7c797957;
    border-radius: 1em;

}

/* .bordes {
    display: inline-grid;
    grid-template-columns: 33% 33% 33%;
    padding: 1em;
    box-sizing: border-box;
    box-shadow: 2px 10px 10px 2px;
    border-radius: 1em;
    border: solid;
    justify-content: center;



} */

.forestal1 {
    display: inline-block;
    box-sizing: border-box;
    box-shadow: 5px, 15px, 15px, 5px;
    border-radius: 16px;
    border: solid;

}

.pie-pagina {
    display: inline-block;
    margin-top: 5px;
    margin-left: 500px;
    box-sizing: border-box;
    border: solid;
    box-shadow: 5px 15px 15px 5px;
    border-radius: 1em;

}

.subir1 {
    width: 80px;
    height: 80px;
}

.noticias-secundaria {
    width: 400px;
    height: 400px;
    margin-right: 2em;
    margin-bottom: 1em;
    box-sizing: border-box;
    box-shadow: 2px 10px 10px 2px black;
    border-radius: 10px;
    border: solid black;


}

.noticias-portada-texto2 {
    display: inline-block;
    margin: 0;
    padding: 10px;
    font-size: 1.5rem;
    font-family: 'Crimson Text', serif;
    font-weight: bolder;
    width: 90%;
    text-align: justify;
    background-color: #7c797957;
    border-radius: 1em;
}

.mapita {
    display: block;
    margin-left: 600px;
    margin-top: 20px;
}

.formulario-uno {
    display: inline-block;
    padding: 2px;
    width: 200px;
    border: solid black;
    border-radius: 25%;
    box-shadow: 5px 20px 30px 5px black;
    box-sizing: border-box;
}

.imagen-trekking {
    position: relative;
    width: 600px;
    height: 500px;
    margin-left: 500px;
    border: solid rgb(93, 142, 175);
    border-radius: 5%;
    box-sizing: border-box;

}

.title-section1 {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 800px;
    font-size: 5em;
    font-weight: 800;
}

/*  .probandogrid{
    display: grid;
    grid-template-columns: 3fr 33% 33% 33% 33%;
    grid-template-rows: 1fr;
    grid-area: auto; 


} */

@media (min-width: 480px) {
    .imagen-trekking {
        position: relative;
        width: 200px;
        height: 200px;
        border: solid rgb(93, 142, 175);
        border-radius: 5%;
        box-sizing: border-box;

    }
}